<div *ngIf="order$ |async as order">
    <h1>Order Details</h1>
    <p> Ordered on 8 June 2017 | Order <span class="order-code"> {{ orderId }}</span> </p>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <table class="table border-0">
                        <tbody>
                            <tr>
                                <td> {{ order[2].addressLine1 }} </td>
                            </tr>
                            <tr>
                                <td> {{ order[2].addressLine2 }} </td>
                            </tr>
                            <tr>
                                <td> {{ order[2].city }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-4">
                    <table class="table border-0">
                        <tbody>
                            <tr>
                                <td>Payment Method</td>
                            </tr>
                            <tr>
                                <td>Net Banking : All citybak Mater Cartd</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-4">
                    <table class="table border-0">
                        <tbody>
                            <tr *ngFor="let item of order[1]">
                                {{ item.totoalPrice }}
                            </tr>
                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>